<html>

<head>

    <title>Crud Application</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{url_for('static', filename = 'teacher.png' )}}">


</head>

<body>


<div class="container">

    <div class="well text-center">

        <h1>Shift Roster Management App</h1>


    </div>